body
{
    margin: 0;
    padding: 0;
    cursor: url(img/aim.png), text;
    overflow: hidden;
}

body::before
{
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(img/bg.png) repeat-x bottom left;
}
@keyframes duckfly
{
    0%
    {
        left: 150%;
        top: 10%;

    }
    25%
    {
        left: 80%;
        top: 50%;

    }
    50%
    {
        left: 50%;
        top: 30%;

    }
    75%
    {
        left: 40%;
        top: 30%;

    }
    100%
    {
        left: -50%;
        top: 10%;

    }
}
input + label
{
    position: absolute;
    left: -100px;
    z-index: 1;
    width: 36px;
    height: 34px;
    display: block;
    z-index: 5;
    transform: translate(-50%,-50%);
    background: url(img/duck_black.png) no-repeat left center;
    background-position: -138px 0;
}
input:checked + label
{
    opacity: 0;
    transition: 0.5s;
    transform: rotate(120deg);
    transform-origin: 60%;
    z-index: -5;

}
.duck:nth-last-of-type(1)
{
    animation: duckfly 10s linear 1s infinite;
    cursor: url(img/aim.png), text;
}
.duck:nth-last-of-type(2)
{
    animation: duckfly 20s linear 1.1s infinite;
    cursor: url(img/aim.png), text;
}
.duck:nth-last-of-type(3)
{
    animation: duckfly 30s linear 1.2s infinite;
    cursor: url(img/aim.png), text;
}
.duck:nth-last-of-type(4)
{
    animation: duckfly 40s linear 1.3s infinite;
    cursor: url(img/aim.png), text;
}
.duck:nth-last-of-type(5)
{
    animation: duckfly 50s linear 1.4s infinite;
    cursor: url(img/aim.png), text;
}
.duck:nth-last-of-type(6)
{
    animation: duckfly 60s linear 1.5s infinite;
    cursor: url(img/aim.png), text;
}
.duck:nth-last-of-type(7)
{
    animation: duckfly 70s linear 1.6s infinite;
    cursor: url(img/aim.png), text;
}
.duck:nth-last-of-type(8)
{
    animation: duckfly 80s linear 1.7s infinite;
    cursor: url(img/aim.png), text;
}
.duck:nth-last-of-type(9)
{
    animation: duckfly 90s linear 1.8s infinite;
    cursor: url(img/aim.png), text;
}
.duck:nth-last-of-type(10)
{
    animation: duckfly 10s linear 1.9s infinite;
    cursor: url(img/aim.png), text;
}


.score{
    position: absolute;
    bottom: 45;
    height: 50px;
    line-height: 50px;
    background-color: #dadada;
    width: 123px;
    z-index: 2;
    text-align: center;
    font-size: 30px;
}
.score::after{
    content: counter(score);
    display: inline-block;
}
.score::before{
    content: 'Score :';
    display: inline-block;
    margin-right: 10px;
}
input:checked{
    counter-increment: score;
}
.credits{
    position: absolute;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    background-color: #dadada;
    z-index: 2;
    text-align: center;
    font-size: 30px;
}
